<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>familia</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>
        <h1>Familia</h1>
        <nav>
            <a href="../index.html">¿Quien soy?</a> <br>
            <a href="/templates/hobbies.html"> Hobbies</a> <br>
            <a href="/templates/familia.html"> Mi familia </a>
        </nav>
    </header>

    <section>
        <p>Mi familia esta conformada por 17 personas con 6 hermanos y 9 sobrinos, que son: </p>
       <ul>
            <li>Mamá: Carmen ines causil</li>
            <li>Papá: Jose de jesus Paya Iter</li>
            <li>Hermana mayor: Marleny del Carmen Causil</li>
            <li>Hermano mayor: Jhoan de jesus Causil</li>
            <li>Hermana Gemela: Wendy Yasmin Moreno Causil</li>
            <li>Hermana Gemela: Gina Paola Moreno Causil</li>
            <li>Hermana: Gerally Alexandra Causil</li>
            <li>Hermana menor: Shaira Yuleycy Paya Causil</li>

        <p><em><strong>Sobrinos/Nietos</strong></em></p>

            <li>Juan Jose Causil </li>
            <li>Ian Nicolas Causil Largo</li>
            <li>Hilary Valbuena Moreno Causil</li>
            <li>Keniham Andrey Causil</li>
            <li>Dominic Isley Moreno Moreno</li>
            <li>Kimberlly Giovanna Giraldo Causil</li>
            <li>Miguel Angel Serna Moreno</li>
            <li>Erick Mauricio Macias Moreno</li>
            <li>Madelaine Aitana Muriel Causil</li>
       </ul>

    <div class: "contenedor-imagenes"> 
        <img src="../assets/imagenes/f1.jpg" alt="1">
        <img src="../assets/imagenes/f2.jpg" alt="2">
        <img src="../assets/imagenes/f3.jpg" alt="3">
        <img src="../assets/imagenes/f4.jpg" alt="4">
        <img src="../assets/imagenes/f5.jpg" alt="5">
        <img src="../assets/imagenes/f6.jpg" alt="6">
        <img src="../assets/imagenes/f7.jpg" alt="7">
        <img src="../assets/imagenes/f8.jpg" alt="8">
        <img src="../assets/imagenes/f9.jpg" alt="9">
    </div>

        <p><em><strong>Vennus</strong></em> <br> Vennus es mi gata, es como mi hija, llego a mi el dia 06 de marzo del 2021, me alegra la vida.</p>

        <div class: "contenedor-imagenes"> 
            <img src="../assets/imagenes/v0.jpg" alt="1">
            <img src="../assets/imagenes/v1.jpg" alt="2">
            <img src="../assets/imagenes/v2.jpg" alt="3">
            <img src="../assets/imagenes/v3.jpg" alt="4">
            <img src="../assets/imagenes/v4.jpg" alt="5">
            <img src="../assets/imagenes/v5.jpg" alt="6">
            <img src="../assets/imagenes/v6.jpg" alt="7">
            <img src="../assets/imagenes/v7.jpg" alt="8">
            <img src="../assets/imagenes/v8.jpeg" alt="9">
        </div>

    </section>
    <section class="footer">
        <footer> 
            <p class="text">Página realizada por Shaira Causil. &copy; Todos los derechos reservados 2024</p>
    
            <ul class="social-icon">
                <li class="icon-elem">
                  <a href="https://www.instagram.com/sxcausil" target="_blank" class="icon">
                    <ion-icon name="logo-instagram"></ion-icon>
                  </a>
                </li>
                <li class="icon-elem">
                  <a href= "https://wa.me/573137360284?text=Hola%2C%20c%C3%B3mo%20est%C3%A1s%3F" target="_blank" class="icon">
                    <ion-icon name="logo-whatsapp"></ion-icon>
                  </a>
                </li>
                <li class="icon-elem">
                  <a href="https://www.facebook.com/messages/t/yuleisy.shaira26/" target="_blank" class="icon">
                    <ion-icon name="logo-facebook"></ion-icon>
                  </a>
                <li class="icon-elem">
                  <a href="https:/mail.google.com/mail/?view=cm&fs=1&to=causil845@gmail.com&suAsunto&body=Holaaa" target="_blank" class="icon">
                 </li>
                    <ion-icon name="mail-outline"></ion-icon> 
                  </a>
                </li>
              </ul>
        </footer>
    </section>
    
        <script
            type="module"
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js">  
        </script>
        <script
            nomodule
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
        ></script>
    
</body>
</html>