<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
        <header>
            <h1>Hobbies</h1> <br>
        <nav>
            <a href="../index.html">¿Quien soy?</a> <br>
            <a href="/templates/hobbies.html"> Hobbies</a> <br>
            <a href="/templates/familia.html"> Mi familia </a>
        </nav>
    </header>

    <section>
        <p>A lo largo de los años descubri varias pasiones, no me podria decidir por favoritas pero serian estas algunas: </p>
        <ul>
            <li>Pintar/ escultura</li>
            <li>Cabalgar/Galopar</li>
            <li>karts/ cuatrimotos</li>
            <li>Dormir</li>
        </ul>
        <div class: "contenedor-imagenes"> 
        <img src="../assets/imagenes/pintar 2.jpeg" alt="pintura">
        <img src="../assets/imagenes/pintar.jpeg" alt="pintura2">
        <img src="../assets/imagenes/caballo1.jpeg" alt="caballo">
        <img src="../assets/imagenes/caballo2.jpeg" alt="caballo">
        <img src="../assets/imagenes/cuatrimoto.jpeg" alt="cuatrimoto">
    </div>
    </section>
    <section class="footer">
        <footer> 
            <p class="text">Página realizada por Shaira Causil. &copy; Todos los derechos reservados 2024</p>
    
            <ul class="social-icon">
                <li class="icon-elem">
                  <a href="https://www.instagram.com/sxcausil" target="_blank" class="icon">
                    <ion-icon name="logo-instagram"></ion-icon>
                  </a>
                </li>
                <li class="icon-elem">
                  <a href= "https://wa.me/573137360284?text=Hola%2C%20c%C3%B3mo%20est%C3%A1s%3F" target="_blank" class="icon">
                    <ion-icon name="logo-whatsapp"></ion-icon>
                  </a>
                </li>
                <li class="icon-elem">
                  <a href="https://www.facebook.com/messages/t/yuleisy.shaira26/" target="_blank" class="icon">
                    <ion-icon name="logo-facebook"></ion-icon>
                  </a>
                <li class="icon-elem">
                  <a href="https:/mail.google.com/mail/?view=cm&fs=1&to=causil845@gmail.com&suAsunto&body=Holaaa" target="_blank" class="icon">
                 </li>
                    <ion-icon name="mail-outline"></ion-icon> 
                  </a>
                </li>
              </ul>
        </footer>
    </section>
    
        <script
            type="module"
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js">  
        </script>
        <script
            nomodule
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
        ></script>
    
</body>

</html>